{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="span8 offset4">
        <form method="post" action="{{ url('_editmember') }}" class="form-horizontal" {{ form_enctype(form) }}>
            <fieldset>
                <legend>Mon profil</legend>
                <div class="control-group {% if form.user.lastname.vars.errors|length %}error{% endif %}">
                    {{ form_label(form.user.lastname, null, { 'attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.user.lastname) }}
                        {{ form_errors(form.user.lastname) }}
                    </div>
                </div>
                <div class="control-group {% if form.user.firstname.vars.errors|length %}error{% endif %}">
                    {{ form_label(form.user.firstname, null, { 'attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.user.firstname) }}
                        {{ form_errors(form.user.firstname) }}
                    </div>
                </div>
                <div class="control-group">
                    <label for="username" class="control-label">Identifiant</label>
                    <div class="controls">
                        <input type="text" disabled="" placeholder="{{ app.session.get('member').username }}" id="username" class="disabled">
                    </div>
                </div>
                <div class="control-group {% if form.user.email.vars.errors|length %}error{% endif %}">
                    {{ form_label(form.user.email, null, { 'attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            {{ form_widget(form.user.email, { 'attr': {'class': 'span2'} }) }}
                            {{ form_errors(form.user.email) }}
                        </div>
                    </div>
                </div>
                <div class="control-group {% if form.member.password.vars.errors|length %}error{% endif %}">
                    {{ form_label(form.member.password, null, { 'attr': {'class': 'control-label'} }) }}
                    <div class="controls">
                        {{ form_widget(form.member.password) }}
                        {{ form_errors(form.member.password) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit" name="edit">Enregistrer</button>
                    <button class="btn" type="reset">Annuler</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
