{% extends "layout.html.twig" %}

{% block content %}
<div class="span8 offset2">
    <div class="widget widget-nopad">
        <div class="widget-header">
            <i class="icon-user"></i>
            <h3>Mon profil</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            <form method="post" action="{{ url('_editmember') }}" class="form-horizontal" {{ form_enctype(form) }}>
                <fieldset>
                    <div class="control-group {% if form.user.lastname.vars.errors|length %}error{% endif %}">
                        <label for="lastname" class="control-label">Nom</label>
                        <div class="controls">
                            {{ form_widget(form.user.lastname) }}
                            {{ form_errors(form.user.lastname) }}
                        </div>
                    </div>
                    <div class="control-group {% if form.user.firstname.vars.errors|length %}error{% endif %}">
                        <label for="firstname" class="control-label">Pr&eacute;nom</label>
                        <div class="controls">
                            {{ form_widget(form.user.firstname) }}
                            {{ form_errors(form.user.firstname) }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="username" class="control-label">Identifiant</label>
                        <div class="controls">
                            <input type="text" disabled="" placeholder="{{ app.session.get('member').username }}" id="username" class="disabled">
                        </div>
                    </div>
                    <div class="control-group {% if form.user.email.vars.errors|length %}error{% endif %}">
                        <label for="email" class="control-label">Email</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-envelope"></i></span>
                                {{ form_widget(form.user.email, { 'attr': {'class': 'span2'} }) }}
                                {{ form_errors(form.user.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="control-group {% if form.member.oldpassword.vars.errors|length %}error{% endif %}">
                        <label for="oldpassword" class="control-label">Mot de passe actuel</label>
                        <div class="controls">
                            {{ form_widget(form.member.oldpassword) }}
                            {{ form_errors(form.member.oldpassword) }}
                        </div>
                    </div>
                    <div class="control-group {% if form.member.password.first.vars.errors|length %}error{% endif %}">
                        <label for="password.first" class="control-label">Mot de passe</label>
                        <div class="controls">
                            {{ form_widget(form.member.password.first) }}
                            {{ form_errors(form.member.password.first) }}
                        </div>
                    </div>
                    <div class="control-group {% if form.member.password.second.vars.errors|length %}error{% endif %}">
                        <label for="password.second" class="control-label">Mot de passe (confirmez)</label>
                        <div class="controls">
                            {{ form_widget(form.member.password.second) }}
                            {{ form_errors(form.member.password.second) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" name="edit">Enregistrer</button>
                        <button class="btn" type="reset">Annuler</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}
