<form method="post" action="{{ url('_updatemember') }}" {{ form_enctype(form) }}>
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_rest(form) }}
    <button type="submit"><span>Envoyer</span></button>
</form>
