{% extends "layout.html.twig" %}

{% form_theme form 'common/Form/fields.html.twig' %}

{% block content %}
<div class="span6 offset3">
    <div class="widget widget-nopad">
        <div class="widget-header">
            <i class="icon-calendar"></i>
            <h3>Inscription</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            <form method="post" action="{{ url('_signupmember') }}" class="form-horizontal" {{ form_enctype(form) }}>
                <fieldset>
                    <div class="control-group {% if form.user.lastname.vars.errors|length %}error{% endif %}">
                        {{ form_label(form.user.lastname, null, { 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.user.lastname) }}
                            {{ form_errors(form.user.lastname) }}
                        </div>
                    </div>
                    <div class="control-group {% if form.user.firstname.vars.errors|length %}error{% endif %}">
                        {{ form_label(form.user.firstname, null, { 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.user.firstname) }}
                            {{ form_errors(form.user.firstname) }}
                        </div>
                    </div>
                    <div class="control-group {% if form.member.username.vars.errors|length %}error{% endif %}">
                        {{ form_label(form.member.username, null, { 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.member.username, { 'attr': {'onchange': 'checkUsername(this)'} }) }}
                            {{ form_errors(form.member.username) }}
                        </div>
                    </div>
                    <div class="control-group {% if form.user.email.vars.errors|length %}error{% endif %}">
                        {{ form_label(form.user.email, null, { 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-envelope"></i></span>
                                {{ form_widget(form.user.email, { 'attr': {'class': 'span2'} }) }}
                                {{ form_errors(form.user.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="control-group {% if form.member.password.vars.errors|length %}error{% endif %}">
                        {{ form_label(form.member.password, null, { 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.member.password) }}
                            {{ form_errors(form.member.password) }}
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" name="register">S'inscrire</button>
                            <button class="btn" type="reset">Annuler</button>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block bottomjs %}
<script type="text/javascript">
    function checkUsername(field) {
        $.post('{{ url('_checkusername') }}', { username: $(field).val() }, function(result) {
            var controlGroup = $(field).closest('.control-group');

            if(typeof(result['valid'])  == 'undefined' || !result['valid']) {    
                controlGroup.addClass('error');
                $(field).closest('.controls').append('<span class="help-inline">Cet identifiant est déjà attribué.</div>');
                $('button[type=submit]').attr('disabled', 'disabled');
            } else {
                controlGroup.removeClass('error');
                $('span.help-inline', controlGroup).remove();
                $('button[type=submit]').removeAttr('disabled');
            }
        }, 'json');
    }
</script>
{% endblock %}
