{% for comment in comments %}
    <blockquote>
        <p>{{ comment.content|raw }}</p>
        <small>{{ comment.user_email|replace({'@': '[at]'}) }}, le {{ comment.created_at|date("d") }} {{ comment.created_at|date("F")|trans }} {{ comment.created_at|date("Y") }} à {{ comment.created_at|date("H:i") }}</small>
    </blockquote>
{% endfor %}
