{% for comment in comments %}
    <blockquote>
        <p>{{ comment.content|raw }}</p>
        <small>
            {% if comment.username is not null%}
                {{ comment.username }},
            {% else %}
                {{ comment.user_email|replace({'@': '[at]'}) }},
            {% endif %}
            le {{ comment.created_at|date("d") }} {{ comment.created_at|date("F")|trans }} {{ comment.created_at|date("Y") }} &agrave; {{ comment.created_at|date("H:i") }}</small>
    </blockquote>
{% endfor %}
