{% for comment in comments %}
    <blockquote>
        <p><img src="{{ gravatar(comment.user_email, {'size': 40}) }}" />&nbsp;{{ comment.content|raw }}</p>
        <small>
            {% if comment.username is not null%}
                {{ comment.username }},
            {% else %}
                {{ comment.firstname }},
            {% endif %}
            le {{ comment.created_at|date("d") }} {{ comment.created_at|date("F")|trans|lower }} {{ comment.created_at|date("Y") }} &agrave; {{ comment.created_at|date("H:i") }}</small>
    </blockquote>
{% endfor %}
