{% form_theme commentForm 'common/Form/fields.html.twig' %}

<form method="post" action="{{ url('_createcomment', {'drinkId': drink.id}) }}" id="commentForm" class="form-horizontal" {{ form_enctype(commentForm) }}>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Commentaire</h3>
    </div>
    <div class="modal-body">
        {% if commentForm.user is defined %}
            <div class="control-group {% if commentForm.user.lastname.vars.errors|length %}error{% endif %}">
                {{ form_label(commentForm.user.lastname, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(commentForm.user.lastname) }}
                    {{ form_errors(commentForm.user.lastname) }}
                </div>
            </div>
            <div class="control-group {% if commentForm.user.firstname.vars.errors|length %}error{% endif %}">
                {{ form_label(commentForm.user.firstname, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(commentForm.user.firstname) }}
                    {{ form_errors(commentForm.user.firstname) }}
                </div>
            </div>
            <div class="control-group {% if commentForm.user.email.vars.errors|length %}error{% endif %}">
                {{ form_label(commentForm.user.email, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(commentForm.user.email) }}
                    {{ form_errors(commentForm.user.email) }}
                </div>
            </div>
        {% endif %}
        <div class="control-group {% if commentForm.content.vars.errors|length %}error{% endif %}">
            {{ form_label(commentForm.content, null, { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(commentForm.content) }}
                {{ form_errors(commentForm.content) }}
            </div>
        </div>
        {{ form_rest(commentForm) }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" name="comment">Ajouter</button>
        <a href="#" data-dismiss="modal" class="btn">Annuler</a>
    </div>
</form>
