{% extends "layout.html.twig" %}

{% form_theme form _self %}

{% block field_errors %}
{% spaceless %}
    {% for error in errors %}
        <span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
    {% endfor %}
{% endspaceless %}
{% endblock field_errors %}

{% block content %}
<div class="row">
	<div class="span8 offset4">
		<form method="post" action="{{ url('_updatedrink', {'id': id}) }}" class="form-horizontal" {{ form_enctype(form) }}>
			<fieldset>
				<legend>Editer l'apéro</legend>
			    <div class="control-group">
				    <label for="drink_dayselector" class="control-label required">Jour</label>
				    <div class="controls">
				    	<input type="text" required="required" id="drink_dayselector" value="{{ form.day.vars.value|date("d/m/Y") }}">
			    	</div>
			    </div>
			    <div class="control-group {% if form.hour.vars.errors|length %}error{% endif %}">
				    {{ form_label(form.hour, null, { 'attr': {'class': 'control-label'} }) }}
				    <div class="controls">
				    	{{ form_widget(form.hour) }}
				    	{{ form_errors(form.hour) }}
			    	</div>
			    </div>
			    <div class="control-group {% if form.description.vars.errors|length %}error{% endif %}">
				    {{ form_label(form.description, null, { 'attr': {'class': 'control-label'} }) }}
				    <div class="controls">
				    	{{ form_widget(form.description) }}
				    	{{ form_errors(form.description) }}
			    	</div>
			    </div>
			    <div class="control-group {% if form.id_city.vars.errors|length %}error{% endif %}">
				    {{ form_label(form.id_city, null, { 'attr': {'class': 'control-label'} }) }}
				    <div class="controls">
				    	{{ form_widget(form.id_city) }}
				    	{{ form_errors(form.id_city) }}
			    	</div>
			    </div>
				<div class="control-group">
				    <label for="drink_placegmap" class="control-label required">Lieu</label>
				    <div class="controls">
				    	<p><input type="text" id="drink_placegmap"></p>
				    	<p><input type="text" class="input-xlarge disabled" disabled="" id="drink_place_disabled" value="{{ form.place.vars.value }}"></p>
				    	<p><input type="text" class="input-xlarge disabled" disabled="" id="drink_map_disabled" value="{{ form.map.vars.value }}"></p>
			    	</div>
			    </div>
			    {{ form_rest(form) }}
			    <div class="form-actions">
			    	<button class="btn btn-primary" type="submit">Editer</button>
					<button class="btn" type="reset">Annuler</button>
			   	</div>
		    </fieldset>
		</form>
	</div>
</div>
{% endblock %}

{% block headjs %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
{% endblock %}

{% block bottomjs %}
<script src="{{ app.request.basepath }}/js/gmapautocomplete.js" type="text/javascript"></script>
<script src="{{ app.request.basepath }}/js/datepicker.js" type="text/javascript"></script>
<script>
	// Date picker for Day field.
	init_datepicker($('#drink_dayselector'), $('#drink_day'));
	$( "#drink_dayselector" ).datepicker( "option", "defaultDate", '{{ form.day.vars.value|date("d/m/Y") }}' );
</script>
{% endblock %}