{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="span4">
		{{ map.printMap()|raw }}
	</div>
	<div class="span7">
		<div class="row">
			<div class="span6"><h1>{{ drink.kindTranslated }} <small>à {{ drink.city.name }}, le {{ drink.day|date("d") }} {{ drink.day|date("F")|trans }} {{ drink.day|date("Y") }} à {{ drink.hour|date("H:i") }}</small></h1></div>
			<div class="span1">
				<div class="btn-group">
					<a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ url('_editdrink', {'id': drink.id}) }}"><i class="icon-pencil"></i> Editer</a></li>
					</ul>
				</div>
			</div>
		</div>
		<p>Lieu : {{ drink.place }}, {{ drink.map }}</p>
		<blockquote>
			<p>{{ drink.description }}</p>
			<small>organisé par {{ drink.user.email|replace({'@': '[at]'}) }}</small>
		</blockquote>
		{% include 'apero/comment.html.twig' %}
	</div>
	<div class="span4">
		<div class="well">
			{% include 'apero/participations.html.twig' %}
		</div>
	</div>
</div>
{% endblock %}

{% block headjs %}
{{ map.getHeaderJS()|raw }}
{{ map.getMapJS()|raw }}
{% endblock %}

{% block bottomjs %}
{{ map.printOnLoad()|raw }}
{% endblock %}