<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Apéro PHP</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block headjs %}{% endblock %}

    <!-- Les styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/css/font-awesome-ie7.css">
    <![endif]-->
    <link href="{{ app.request.basepath }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/jquery-ui.custom.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    {% include 'common/topbar.html.twig' %}
    <div class="main">
      <div class="main-inner">
          <div class="container">
            <div class="row">
            {#  *******
                ** Display flash
                *******  #}
            {% if app.session.hasFlash('success') %}<div class="alert alert-success">{{ app.session.flash('success') }}</div>{% endif %}
            {% if app.session.hasFlash('notice') %}<div class="alert alert-notice">{{ app.session.flash('notice') }}</div>{% endif %}
            {% if app.session.hasFlash('error') %}<div class="alert alert-error">{{ app.session.flash('error') }}</div>{% endif %}
            {#  ******* #}
            {% block content %}{% endblock %}
            </div> <!-- /row -->
          <hr/>
          {% include 'common/footer.html.twig' %}
          </div> <!-- /container -->
      </div> <!-- /main-inner -->
    </div> <!--  /main -->
    <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery-ui.custom.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    {% block bottomjs %}{% endblock %}
  </body>
</html>
