{% form_theme participationForm 'common/Form/fields.html.twig' %}

<form method="post" action="{{ url('_participatedrink', {'drinkId': drink.id}) }}" id="participateForm" class="form-horizontal" {{ form_enctype(participationForm) }}>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Participation</h3>
    </div>
    <div class="modal-body">
        {% if participationForm.user is defined %}
            <div class="control-group {% if participationForm.user.lastname.vars.errors|length %}error{% endif %}">
                {{ form_label(participationForm.user.lastname, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(participationForm.user.lastname) }}
                    {{ form_errors(participationForm.user.lastname) }}
                </div>
            </div>
            <div class="control-group {% if participationForm.user.firstname.vars.errors|length %}error{% endif %}">
                {{ form_label(participationForm.user.firstname, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(participationForm.user.firstname) }}
                    {{ form_errors(participationForm.user.firstname) }}
                </div>
            </div>
            <div class="control-group {% if participationForm.user.email.vars.errors|length %}error{% endif %}">
                {{ form_label(participationForm.user.email, null, { 'label_attr': {'class': 'control-label'} }) }}
                <div class="controls">
                    {{ form_widget(participationForm.user.email) }}
                    {{ form_errors(participationForm.user.email) }}
                </div>
            </div>
        {% endif %}
        <div class="control-group {% if participationForm.percentage.vars.errors|length %}error{% endif %}">
            {{ form_label(participationForm.percentage, null, { 'label_attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(participationForm.percentage) }}
                {{ form_errors(participationForm.percentage) }}
            </div>
        </div>
        <div class="control-group {% if participationForm.reminder.vars.errors|length %}error{% endif %}">
            <div class="controls">
                <label class="checkbox">
                {{ form_widget(participationForm.reminder) }} {{ participationForm.reminder.get('label') }}
                </label>
                {{ form_errors(participationForm.reminder) }}
            </div>
        </div>
        {{ form_rest(participationForm) }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" name="participate">Participer</button>
        <a href="#" data-dismiss="modal" class="btn">Annuler</a>
    </div>
</form>
