{% extends "layout.html.twig" %}

{% block content %}

<div class="span8">
    <div class="widget widget-nopad">
        <div class="widget-header">
            <i class="icon-calendar"></i>
            <h3>A venir</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            <ul class="news-items">
                {% for drink in drinks %}
                <li>
                    <div class="news-item-detail">
                        <a href="{{ url('_showdrink', {'id': drink.id}) }}" class="news-item-title">{{ drink.kind|upper }} - {{ drink.city_name }}</a>
                        <p class="news-item-preview">Info : {{ drink.description }}</p>
                        <p class="news-item-preview">Lieu : {{ drink.place }}</p>
                        <p class="news-item-preview">Nombre d'inscrits : {{ drink.participants_count }}</p>
                    </div>

                    <div class="news-item-date">
                        <span class="news-item-day">{{ drink.day|date("d") }}</span>
                        <span class="news-item-month">{{ drink.day|date("F")|trans }}</span>
                        <span class="news-item-hour">{{ drink.hour|date("H:i") }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
</div> <!-- /span8 -->

<div class="span4">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-glass"></i>
            <h3>Les apéros PHP</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            <p>Les apéroPHPs sont ouverts à tous (de débutants à confirmés), venez discuter du PHP mais pas que de PHP !</p>
            <p>Boissons alcoolisées ou non, repas ou simple apéro, c'est à vous de le définir...</p>
            <div style="text-align:center"><a href="{{ url('_newdrink') }}" class="btn btn-primary btn-large">Organiser un apéro &raquo;</a></div>
        </div> <!-- /widget-content -->
    </div> <!-- /widget -->
</div> <!-- /span4 -->

{% endblock %}
