{% extends "layout.html.twig" %}

{% block content %}
<div class="span8 offset2">
    <div class="widget widget-table action-table">
        <div class="widget-header">
            <i class="icon-calendar"></i>
            <h3>Liste des ap&eacute;ros</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Quand</th>
                        <th>O&ugrave;</th>
                        <th>Pour</th>
                        <th>Organisateur</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for drink in drinks %}
                        <tr>
                            <td>Le {{ drink.day|date("d") }} {{ drink.day|date("F")|trans }} {{ drink.day|date("Y") }}, &agrave; {{ drink.hour|date("H:i") }}</td>
                            <td>A {{ drink.city_name }}, {{ drink.place }}</td>
                            <td>{{ drink.kind|trans }}</td>
                            <td>{{ drink.organizer_username }}</td>
                            <td>{{ drink.participants_count }}</td>
                            <td class="td-actions"><a class="btn btn-small" href="{{ url('_showdrink', {'id': drink.id}) }}">Voir le d&eacute;tail &raquo;</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
