{% form_theme participationForm 'common/Form/fields.html.twig' %}

<form method="post" action="{{ url('_participatedrink', {'drinkId': drink.id}) }}" id="participateForm" class="form-horizontal" {{ form_enctype(participationForm) }}>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Participation</h3>
    </div>
    <div class="modal-body">
        <div class="control-group {% if participationForm.lastname.vars.errors|length %}error{% endif %}">
            {{ form_label(participationForm.lastname, null, { 'attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(participationForm.lastname) }}
                {{ form_errors(participationForm.lastname) }}
            </div>
        </div>
        <div class="control-group {% if participationForm.firstname.vars.errors|length %}error{% endif %}">
            {{ form_label(participationForm.firstname, null, { 'attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(participationForm.firstname) }}
                {{ form_errors(participationForm.firstname) }}
            </div>
        </div>
        <div class="control-group {% if participationForm.email.vars.errors|length %}error{% endif %}">
            {{ form_label(participationForm.email, null, { 'attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(participationForm.email) }}
                {{ form_errors(participationForm.email) }}
            </div>
        </div>
        <div class="control-group {% if participationForm.percentage.vars.errors|length %}error{% endif %}">
            {{ form_label(participationForm.percentage, null, { 'attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(participationForm.percentage) }}
                {{ form_errors(participationForm.percentage) }}
            </div>
        </div>
        <div class="control-group {% if participationForm.reminder.vars.errors|length %}error{% endif %}">
            {{ form_label(participationForm.reminder, null, { 'attr': {'class': 'control-label'} }) }}
            <div class="controls">
                {{ form_widget(participationForm.reminder) }}
                {{ form_errors(participationForm.reminder) }}
            </div>
        </div>
        {{ form_rest(participationForm) }}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Participer</button>
        <a href="#" data-dismiss="modal" class="btn">Annuler</a>
    </div>
</form>
