{% extends "layout.html.twig" %}

{% block content %}
<div class="span8">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-pushpin"></i>
            <h3>Les infos</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
          {% if not isFinished %}
            <div class="btn-group" style="float:right">
                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url('_editdrink', {'id': drink.id}) }}"><i class="icon-pencil"></i> Editer</a></li>
                </ul>
            </div>
          {% endif %}

          <h1>{{ drink.kind }} <small>&agrave; {{ drink.city_name }}, le {{ drink.day|date("d") }} {{ drink.day|date("F")|trans }} {{ drink.day|date("Y") }} &agrave; {{ drink.hour|date("H:i") }}</small></h1>

          <p>Lieu : {{ drink.place }}, {{ drink.address }}</p>
          <blockquote>
              <p class="description">{{ drink.description|raw }}</p>
              <small>organis&eacute; par {{ drink.organizer_username }}</small>
          </blockquote>
        </div>
    </div>
    <div class="widget widget-nopad">
        <div class="widget-header">
            <i class="icon-map-marker"></i>
            <h3>Le lieu</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
          <div id="map" style="width: 100%; height: 400px"></div>
        </div>
    </div>
</div>
<div class="span4">
    <div class="widget participation">
        <div class="widget-header">
            <i class="icon-user"></i>
            <h3>Les participants</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
            {% include 'drink/_participations.html.twig' with { 'participants': participants, 'nb': drink.participants_count, 'isFinished': isFinished } %}
        </div>
    </div>
    <div class="widget comment">
        <div class="widget-header">
            <i class="icon-comments"></i>
            <h3>Les commentaires</h3>
        </div> <!-- /widget-header -->
        <div class="widget-content">
          {% include 'comment/_list.html.twig' with {'comments': comments} %}
          <a class="btn pull-right" data-toggle="modal" href="#commentModal" >Ajouter un commentaire</a>
          <div class="modal hide fade" id="commentModal">
              {% include 'comment/_new.html.twig' %}
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottomjs %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  // http://gmaps-samples-v3.googlecode.com/svn/trunk/single-infowindow/single-infowindow.html
  google.maps.event.addDomListener(window, 'load', function() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: new google.maps.LatLng({{ drink.latitude }}, {{ drink.longitude }}),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var marker1 = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng({{ drink.latitude }}, {{ drink.longitude }})
    });
  });
</script>
<script>
  $("#commentForm").live("submit", function(event) {
    /* stop form from submitting normally */
    event.preventDefault();
    /* Send the data using post and put the results in a div */
    $.ajax({
      type: "POST",
      url: $("#commentForm").attr("action"),
      data: $("#commentForm").serialize(),
      success: function (data, status) {
        $("#commentModal").empty();
        if (data == 'redirect')
          window.location.reload();
        else
          $("#commentModal").append(data);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $("#commentModal").empty().append("Une erreur est survenue, merci de rafra&icirc;chir votre page et de r&eacute;essayer.");
      },
    });
  });
  $("#participateForm").live("submit", function(event) {
    /* stop form from submitting normally */
    event.preventDefault();
    /* Send the data using post and put the results in a div */
    $.ajax({
      type: "POST",
      url: $("#participateForm").attr("action"),
      data: $("#participateForm").serialize(),
      success: function (data, status) {
        $("#participateModal").empty();
        if (data == 'redirect')
          window.location.reload();
        else
          $("#participateModal").append(data);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $("#participateModal").empty().append("Une erreur est survenue, merci de rafra&icirc;chir votre page et de r&eacute;essayer.");
      },
    });
  });
  $("#dpAnonymousEForm").live("submit", function(event) {
    /* stop form from submitting normally */
    event.preventDefault();
    /* Send the data using post and put the results in a div */
    $.ajax({
      type: "POST",
      url: $("#dpAnonymousEForm").attr("action"),
      data: $("#dpAnonymousEForm").serialize(),
      success: function (data, status) {
        $("#dpAnonymousEModal").empty();
        if (data == 'redirect')
          window.location.reload();
        else
          $("#dpAnonymousEModal").append(data);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        $("#dpAnonymousEModal").empty().append("Une erreur est survenue, merci de rafra&icirc;chir votre page et de r&eacute;essayer.");
      },
    });
  });
</script>
{% endblock %}
