<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url('_homepagedrinks') }}">Ap&eacute;ro PHP</a>
            <div class="nav-collapse">
                {% include "common/connection.html.twig" %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li{% if app.session.get('menu') == 'homepagedrinks' %} class="active"{% endif %}>
                    <a href="{{ url('_homepagedrinks') }}">
                        <i class="icon-home"></i> <span>Accueil</span>
                    </a>
                </li>
                <li{% if app.session.get('menu') == 'newdrink' %} class="active"{% endif %}>
                    <a href="{{ url('_newdrink') }}">
                        <i class="icon-glass"></i> <span>Organiser un ap&eacute;ro</span>
                    </a>
                </li>
                <li{% if app.session.get('menu') == 'listdrinks' %} class="active"{% endif %}>
                    <a href="{{ url('_listdrinks', {'format': 'html'}) }}">
                        <i class="icon-calendar"></i> <span>Liste des ap&eacute;ros</span>
                    </a>
                </li>
                {% if not(app.session.has('member')) %}
                <li{% if app.session.get('menu') == 'signup' %} class="active"{% endif %}>
                    <a href="{{ url('_signupmember') }}">
                        <i class="icon-signin"></i> <span>S'inscrire</span>
                    </a>
                </li>
                <li{% if app.session.get('menu') == 'signin' %} class="active"{% endif %}>
                    <a href="{{ url('_signinmember') }}">
                        <i class="icon-key"></i> <span>Se connecter</span>
                    </a>
                </li>
                <li{% if app.session.get('menu') == 'stats' %} class="active"{% endif %}>
                    <a href="{{ url('_stats', {'type': 'year', 'city': 0}) }}">
                        <i class="icon-signal"></i> <span>Statistiques</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
</div> <!-- /subnavbar -->
